@import url('https://fonts.googleapis.com/css?family=Pangolin');

#HomeContainer {
	display: block;
	text-align: center;
}

#HomeDiv {
	border: 1px solid black;
	box-sizing: border-box;
	margin: 100px auto;
	width: 600px;
}

#IndexContainer {
	display: block;
}

form {
	margin: 10%;
}

h1, h2, h3 {
	font-family: 'Pangolin', cursive;
	margin-top: 50px;
}

table {
	margin: 40px auto;
}