@import url('https://fonts.googleapis.com/css?family=Pangolin');

#HomeContainer {
	box-shadow: 0px 0px 10px black;
	display: block;
	margin: 30px;
	padding: 30px;
	text-align: center;
}

#HomeDiv {
	box-sizing: border-box;
	margin: 100px auto;
	width: 400px;
}

#IndexContainer {
	display: block;
}

#search button {
	display: block;
	float: left;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Pangolin', cursive;
}

.table {
	height: auto;
	margin: 30px auto;
	max-width: 400px;
}

p {
	padding-top: 100px;
}